body {
    background: linear-gradient(135deg, #86c9f0, #e9b74b);
}

h1 {
    font-size: 55px;
    text-align: center;
    margin-top: 20px;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.rectangle {
    width: 50%;
    max-width: 450px;
    height: 500px;
    background: linear-gradient(0deg, #5A98BF, #E0F7FA);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.btn {
    width: 80%;
    max-width: 350px;
    height: 13vh;
    background-color: #FBBF93;
    border: none;
    border-radius: 8px;
    font-size: 35px;
    cursor: pointer;
    transition: 0.3s;
}

.home-btn {
    position: absolute;
    left: 50%;
    top: 230px;
    transform: translate(-50%, 0);
    width: 18vw;
    max-width:200px;
    height: 10vh;
    background-color: #D9D9D9;
    border: none;
    border-radius: 8px;
    font-size: 25px;

    white-space: nowrap;
    overflow: hidden;
}